body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-color {
  color: #323a8c !important;
}
.text-color2 {
  color: #f00b51 !important;
}
.bg-color {
  background-color: #d33344 !important;
}
.bg-color2 {
  background-color: #f00b51 !important;
}
.bg-whitesmoke {
  background-color: whitesmoke !important;
}
